<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- Awesome Fonts link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>Smart List</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar-footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/maincontent.css" type="text/css" />
<!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Cuprum:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" id="navbarId">
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" data-target=".multi-collapse" aria-controls="noCat resCard booksCard movieCard prodCard">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand">TODO  list</a>

      <button class="expandButton"><i class="fas fa-plus"></i> </button>
      </nav>
      <!-- Main content -->
      <div class= "container">
      <!-- Collapsible categorie cards  -->

      <div class="listCards">
        <div class="card">
          <div class="card-header">
            <h5>
              <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#resCard"
                aria-expanded="false" aria-controls="resCard">
                Restaurants
              </button>
            </h5>
          </div>
          <div class="collapse multi-collapse" id="resCard">
            <div class="card-body">
              <ul class="list-group connectedSortable" id="restaurants" data-category="restaurant">
                <p></p>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h5>
              <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#booksCard"
                aria-expanded="false" aria-controls="booksCard">
                Books
              </button>
            </h5>
          </div>
          <div class="collapse multi-collapse" id="booksCard">
            <div class="card-body">
              <ul class="list-group connectedSortable" id="books" data-category="book">
                <p></p>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5>
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#movieCard"
                aria-expanded="false" aria-controls="movieCard">
                Movies
              </button>
            </h5>
          </div>
          <div class="collapse multi-collapse" id="movieCard">
            <div class="card-body">
              <ul class="list-group connectedSortable" id="movie" data-category="movie">
                <p></p>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5>
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#prodCard"
                aria-expanded="false" aria-controls="prodCard">
                Products
              </button>
            </h5>
          </div>
          <div class="collapse multi-collapse" id="prodCard">
            <div class="card-body">
              <ul class="list-group connectedSortable" id="products" data-category="product">
                <p></p>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5>
              <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#noCat" aria-expanded="false"
                aria-controls="noCat">
                No Category
              </button>
            </h5>
          </div>
          <div class="collapse multi-collapse" id="noCat">
            <div class="card-body">
              <ul class="list-group connectedSortable" id="nocat" data-category="nocat">
                <p></p>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="listCards">
        <div id="accordion">

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                  aria-controls="collapseOne">
                  Restaurants
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
<<<<<<< HEAD

                <ul class="list-group connectedSortable" id="restaurants">


=======
                <ul class="list-group" id="restaurants">
                  <p></p>
>>>>>>> 1e3df232ecb49c527befe3c980ae04f1259c3ec6
                </ul>
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  Books
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" >
              <div class="card-body">
<<<<<<< HEAD

                <ul class="list-group connectedSortable" id="books">


=======
                <ul class="list-group" id="books">
                  <p></p>
>>>>>>> 1e3df232ecb49c527befe3c980ae04f1259c3ec6
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  Movies
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
<<<<<<< HEAD

                <ul class="list-group connectedSortable" id="movie">


=======
                <ul class="list-group" id="movie">
                  <p></p>
>>>>>>> 1e3df232ecb49c527befe3c980ae04f1259c3ec6
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                  aria-expanded="false" aria-controls="collapseFour">
                  Products
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
<<<<<<< HEAD

                <ul class="list-group connectedSortable" id="products">


=======
                <ul class="list-group" id="products">
                  <p></p>
>>>>>>> 1e3df232ecb49c527befe3c980ae04f1259c3ec6
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">

                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                  aria-expanded="false" aria-controls="collapseFive">

                  No Category
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
<<<<<<< HEAD

                <ul class="list-group connectedSortable" id="nocat">


=======
                <ul class="list-group" id="nocat">
                  <p></p>
>>>>>>> 1e3df232ecb49c527befe3c980ae04f1259c3ec6
                </ul>
              </div>
            </div>
          </div>



        </div>
      </div> -->
      <!-- User personal information -->
      <div class="userInfo">
      <div class="userName"> Hello, Name</div>
      <!-- Add new task form -->
      <main id="submitform">

      </main>
      <!-- List on unfinished tasks -->
      <div class="unfinishedTasks">
      <h5> Unfinished tasks </h5>
      <ul class="list-group">
      <li class="list-group-item" >
        Restaurants

        <output class="badge badge-primary badge-pill" id="restaurantUncomplete"></output>

      </li>
      <li class="list-group-item " >
        Movies

        <output class="badge badge-primary badge-pill" id="movieUncomplete"></output>




      </li>
      <li class="list-group-item" >
        Books


        <output class="badge badge-primary badge-pill" id="bookUncomplete"></output>


      </li>
      <li class="list-group-item" >
        Products


        <output class="badge badge-primary badge-pill" id="productsUncomplete"></output>


      </li>
      <li class="list-group-item ">
        No Category

        <output class="nocatCount productsCount badge badge-primary badge-pill" id="nocatUncomplete"></output>


      </li>
      </ul>
      </div>
      </div>
      </div>

      <!-- Footer -->
      <footer>
      Made by Lisa, Leland and Eva
      </footer>

    <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="/scripts/network.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/getApi.js"></script>
  <script type="text/javascript" src="/scripts/drag.js"></script>






</body>






</html>
