<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- Awesome Fonts link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>Smart List</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar-footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/maincontent.css" type="text/css" />
<!-- Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Cuprum:wght@400;600&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <script type="text/javascript" src="/scripts/getApi.js"></script>
  </head>

  <body>
    <!-- <h1>Hello World!</h1>
    <div>
      <form method="POST" action="/">
        <label for="addTasks">add new task:</label><br>
        <input type="text" id="task" name="task" value="watch Harry Potter"><br>
        <input type="submit" value="Submit">
      </form>
      <form method="POST" action="/delete">
        <label for="deleteTasks">delete task:</label><br>
        <input type="text" id="deleteTask" name="delete" value="Harry Potter"><br>
        <input type="submit" value="delete">
      </form>
    </div> -->

    <nav class="navbar navbar-expand-lg navbar-light" id="navbarId">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand">TODO  list</a>
      <i class="fas fa-plus"></i>
      <!-- <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div> -->
    </nav>
<!-- Main content -->
    <div class= "container">
<!-- Collapsible categorie cards -->
   <div class="listCards"> 
    <div  id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Restaurants
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  Au Comptoir
                </div>
                <i class="far fa-trash-alt"></i>
              </li>
              <li class="list-group-item">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  Buckstop
                </div>
                <i class="far fa-trash-alt"></i></li>
              <li class="list-group-item">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  Golden Paramount Seafood Restaurant
                </div>
                <i class="far fa-trash-alt"></i></li>
              <li class="list-group-item">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  Granville Island Public Market
                </div>
                <i class="far fa-trash-alt"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Books
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                One Hundred Years of Solitude
              </div>
               <i class="far fa-trash-alt"></i></li>
              <li class="list-group-item"><div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                The Great Gatsby
              </div>
              <i class="far fa-trash-alt"></i></li>
              <li class="list-group-item"><div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                Moby Dick by Herman Melville
              </div>
              <i class="far fa-trash-alt"></i></li>
              <li class="list-group-item"><div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                War and Peace
              </div>
              <i class="far fa-trash-alt"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Movies
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
               Harry Potter 
              </div>
              <i class="far fa-trash-alt"></i></li>
              <li class="list-group-item"><div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
               Star Wars  
              </div>
              <i class="far fa-trash-alt"></i></li>
              <li class="list-group-item"><div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              Forest Gump  
              </div>
              <i class="far fa-trash-alt"></i></li>
              <li class="list-group-item"><div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
               Shrek 
              </div>
              <i class="far fa-trash-alt"></i></li>
            </ul>
          </div>
        </div>
      </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Products
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              Shampoo
            </div>
            <i class="far fa-trash-alt"></i></li>
            <li class="list-group-item"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              Shower curtain
            </div>
            <i class="far fa-trash-alt"></i></li>
            <li class="list-group-item"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              Tomatoes
            </div>
            <i class="far fa-trash-alt"></i></li>
            <li class="list-group-item"><div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              Microwave
            </div>
            <i class="far fa-trash-alt"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
   <!-- User personal information -->
   <div class="userInfo"> 
     <div class="userName"> Hello, Name</div>
     <!-- Add new task form -->
    <form class="createForm" method="POST" action="/">
      <label class="sr-only">Name</label>
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Add Something">
      <button type="submit" class="btn btn-primary mb-2">Add</button>
    </form>  
<!-- List on unfinished tasks -->
    <div class="unfinishedTasks">
    <h5> Unfinished tasks </h5>
    <ul class="list-group">
      <li class="list-group-item ">
        Restaurants
        <span class="badge badge-primary badge-pill">14</span>
      </li>
      <li class="list-group-item ">
        Movies
        <span class="badge badge-primary badge-pill">2</span>
      </li>
      <li class="list-group-item ">
        Books
        <span class="badge badge-primary badge-pill">1</span>
      </li>
      <li class="list-group-item ">
        Products
        <span class="badge badge-primary badge-pill">1</span>
      </li>
    </ul>
  </div>
</div>
</div> 
<!-- Footer -->
    <footer>
      Made by Lisa, Leland and Eva
    </footer>
    <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

    <script type="text/javascript" src="/scripts/network.js"></script>

    <main id="main-content">

    </main>



  </head>


    <script type="text/javascript" src="/scripts/getApi.js"></script>




</html>
